public-hoist-pattern[]='@docusaurus/*'
public-hoist-pattern[]=@mdx-js/react

public-hoist-pattern[]='@storybook/*'

public-hoist-pattern[]=url-loader
public-hoist-pattern[]='follow-redirects'
public-hoist-pattern[]='indexeddbshim'
public-hoist-pattern[]='sqlite3'
public-hoist-pattern[]='fs-extra'

# React
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='react-redux'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'

# Redux
public-hoist-pattern[]='@redux-saga/*'
public-hoist-pattern[]='typed-redux-saga'
public-hoist-pattern[]='redux-saga'

public-hoist-pattern[]='optionator'
public-hoist-pattern[]='buffer'
public-hoist-pattern[]='rollup-plugin-node-polyfills'

# Typescript
public-hoist-pattern[]='typescript'

# Build
public-hoist-pattern[]='esbuild*'
public-hoist-pattern[]='rollup*'
public-hoist-pattern[]='@rollup/*'

# Web
public-hoist-pattern[]='dexie*'
public-hoist-pattern[]='axios'
public-hoist-pattern[]='lodash'
public-hoist-pattern[]='lodash-es'
public-hoist-pattern[]='@types/lodash'
public-hoist-pattern[]='@types/lodash-es'


# Express
public-hoist-pattern[]='body-parser'
public-hoist-pattern[]='cors'
public-hoist-pattern[]='express'

# Logging
public-hoist-pattern[]='winston'
public-hoist-pattern[]='chalk'
public-hoist-pattern[]='minimist'

# Smart Contracts
public-hoist-pattern[]='web3*'
public-hoist-pattern[]='*hardhat*'
public-hoist-pattern[]='glob'
public-hoist-pattern[]='*ipfs*'
public-hoist-pattern[]='*libp2p*'
public-hoist-pattern[]='it-*'
public-hoist-pattern[]='@walletconnect/*'
public-hoist-pattern[]='@ethersproject/*'
public-hoist-pattern[]='typechain'
public-hoist-pattern[]='@typechain/ethers-v5'
public-hoist-pattern[]='@typechain/web3-v1'
public-hoist-pattern[]='ethers'
public-hoist-pattern[]='@openzeppelin/*'
public-hoist-pattern[]='@opengsn/*'
public-hoist-pattern[]='@chainlink/*'
public-hoist-pattern[]='bn.js'
#public-hoist-pattern[]='*ow*'
public-hoist-pattern[]='@ethereumjs/common'
public-hoist-pattern[]='ethereumjs-wallet'
public-hoist-pattern[]='ethval'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'

# Serverless
public-hoist-pattern[]='luxon'
public-hoist-pattern[]='nock'
public-hoist-pattern[]='mock-aws-s3'

hoist=false
# shamefully-hoist=true
